* {
  box-sizing: border-box;
  position: relative;
}

body {
  text-align: center;
  color: #555;
  font-family: "Poiret One", sans-serif;
  overflow: hidden;
  background: linear-gradient(to bottom right, #eee, #666);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

body,
button {
  font-size: 2rem;
}

button {
  border-radius: 0 0 10px 0;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  margin: 0.5rem auto;
  min-width: 40vw;
  max-width: 50vw;
  overflow: hidden;
  padding: 5px;
  font-family: "Poiret One", sans-serif;
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.33));
  font-weight: bold;
}
button:hover {
  background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.33), rgba(255, 255, 255, 0.66));
}
button:focus {
  outline: none;
}

#title-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
}
#title-overlay button {
  width: 50vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 0 10rem 0;
  width: 100%;
  height: 100%;
}

.title {
  margin: 0 auto;
}
.title .y-class {
  display: inline-block;
  color: #fafafa;
  bottom: 0.21em;
}
.title .y-class:last-of-type {
  transform-origin: 50% 70%;
  transform: rotate(180deg);
}

#level {
  overflow: hidden;
  border-radius: 0 0 10px 0;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
  padding: 5px;
  margin: 0 auto;
}
#level span {
  display: inline-block;
  width: 3rem;
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#game-board {
  transform: rotate(45deg);
  margin-top: 5rem;
  width: min(40vw, 40vh);
  height: min(40vw, 40vh);
  min-width: min(40vw, 40vh);
  min-height: min(40vw, 40vh);
  max-width: min(40vw, 40vh);
  max-height: min(40vw, 40vh);
}
#game-board .row {
  width: 100%;
  height: 50%;
  display: flex;
}
#game-board .game-cell {
  width: 50%;
  height: 100%;
  opacity: 1;
  display: block;
  cursor: pointer;
}
#game-board .game-cell::after, #game-board .game-cell::before {
  display: block;
  color: white;
  position: absolute;
  bottom: 1px;
  left: 2px;
  right: unset;
  text-shadow: 0px 0px 4px rgb(0, 0, 0), 0px 0px 4px rgb(0, 0, 0);
}
#game-board .game-cell::before {
  left: unset;
  right: 2px;
}
#game-board .game-cell#top {
  background-color: red;
  background: linear-gradient(to bottom right, #b30000, #ff4d4d);
}
#game-board .game-cell#top::after {
  content: "w";
}
#game-board .game-cell#top::before {
  content: "8";
}
#game-board .game-cell#left {
  background-color: yellow;
  background: linear-gradient(to bottom right, #b3b300, #ffff4d);
}
#game-board .game-cell#left::after {
  content: "d";
}
#game-board .game-cell#left::before {
  content: "6";
}
#game-board .game-cell#right {
  background-color: blue;
  background: linear-gradient(to bottom right, #0000b3, #4d4dff);
}
#game-board .game-cell#right::after {
  content: "a";
}
#game-board .game-cell#right::before {
  content: "4";
}
#game-board .game-cell#bottom {
  background-color: green;
  background: linear-gradient(to bottom right, #003400, #00cd00);
}
#game-board .game-cell#bottom::after {
  content: "s";
}
#game-board .game-cell#bottom::before {
  content: "2";
}
#game-board .game-cell .overlay,
#game-board .game-cell .error {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 1;
  z-index: 100;
}
#game-board .game-cell .error {
  background-color: black;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}
@media (max-height: 600px) {
  #game-board {
    margin-top: 3rem;
  }
}
@media (max-width: 520px) {
  #game-board {
    width: min(60vw, 60vh);
    height: min(60vw, 60vh);
    min-width: min(60vw, 60vh);
    min-height: min(60vw, 60vh);
    max-width: min(60vw, 60vh);
    max-height: min(60vw, 60vh);
  }
}

/*# sourceMappingURL=style.css.map */
