@use 'sass:math';

@mixin drop_shadow() {
  border-radius: 0 0 10px 0;
  border: none;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.25);
}

$body-bg: linear-gradient(to bottom right, #eee, #666);
* {
  box-sizing: border-box;
  position: relative;
}

body {
  text-align: center;
  color: #555;
  font-family: "Poiret One", sans-serif;
  overflow: hidden;
  background: $body-bg;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

// font size rules
body,
button {
  font-size: 2rem;
}

button {
  @include drop_shadow();
  cursor: pointer;
  margin: 0.5rem auto;
  min-width: 40vw;
  max-width: 50vw;
  overflow: hidden;
  padding: 5px;
  font-family: "Poiret One", sans-serif;
  background: linear-gradient(
    to bottom right,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.33)
  );
  font-weight: bold;
  &:hover {
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.33),
      rgba(255, 255, 255, 0.66)
    );
  }
  &:focus {
    outline: none;
  }
}

#title-overlay {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    width: 50vw;
  }
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 5rem 0 10rem 0;
  width: 100%;
  height: 100%;
}
.title {
  margin: 0 auto;
  .y-class {
    display: inline-block;
    color: #fafafa;
    bottom: 0.21em;
    &:last-of-type {
      transform-origin: 50% 70%;
      transform: rotate(180deg);
    }
  }
}

#level {
  overflow: hidden;
  @include drop_shadow();
  padding: 5px;
  margin: 0 auto;
  span {
    display: inline-block;
    width: 3rem;
  }
}

.controls {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#game-board {
  $boardSize: min(40vw, 40vh);
  transform: rotate(45deg);
  margin-top: 5rem;
  width: $boardSize;
  height: $boardSize;
  min-width: $boardSize;
  min-height: $boardSize;
  max-width: $boardSize;
  max-height: $boardSize;
  .row {
    width: 100%;
    height: 50%;
    display: flex;
  }
  .game-cell {
    width: 50%;
    height: 100%;
    opacity: 1;
    display: block;
    cursor: pointer;
    &::after,
    &::before {
      display: block;
      color: white;
      position: absolute;
      bottom: 1px;
      left: 2px;
      right: unset;
      text-shadow: 
      0px 0px 4px rgb(0,0,0),
      0px 0px 4px rgb(0,0,0);
    }
    &::before {
      left: unset;
      right: 2px;
    }
    &#top {
      background-color: red;
      background: linear-gradient(
        to bottom right,
        darken(red, 15%),
        lighten(red, 15%)
      );
      &::after {
        content: "w";
      }
      &::before {
        content: "8";
      }
    }
    &#left {
      background-color: yellow;
      background: linear-gradient(
        to bottom right,
        darken(yellow, 15%),
        lighten(yellow, 15%)
      );
      &::after {
        content: "d";
      }
      &::before {
        content: "6";
      }
    }
    &#right {
      background-color: blue;
      background: linear-gradient(
        to bottom right,
        darken(blue, 15%),
        lighten(blue, 15%)
      );
      &::after {
        content: "a";
      }
      &::before {
        content: "4";
      }
    }
    &#bottom {
      background-color: green;
      background: linear-gradient(
        to bottom right,
        darken(green, 15%),
        lighten(green, 15%)
      );
      &::after {
        content: "s";
      }
      &::before {
        content: "2";
      }
    }
    .overlay,
    .error {
      display: none;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: white;
      opacity: 1;
      z-index: 100;
    }
    .error {
      background-color: black;
    }
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    display: none;
  }
}

@media (max-height: 600px) {
  #game-board {
    margin-top: 3rem;
  }
}

@media (max-width: 520px) {
  #game-board {
    width: min(60vw, 60vh);
    height: min(60vw, 60vh);
    min-width: min(60vw, 60vh);
    min-height: min(60vw, 60vh);
    max-width: min(60vw, 60vh);
    max-height: min(60vw, 60vh);
  }
}